/* GLOBAL Stylesheet | SASS */
@import '~bootstrap/scss/bootstrap';

:root {
  --local-fonts:
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    'Roboto', 
    'Oxygen',
    'Ubuntu',
    'Cantarell', 
    'Fira Sans', 
    'Droid Sans', 
    'Helvetica Neue',
    sans-serif;
  --code-fonts:
    source-code-pro, 
    Menlo, 
    Monaco, 
    Consolas, 
    'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: var(--local-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { font-family: var(--code-fonts); }
